@{
    ViewData["Title"] = "Compra Exitosa";
}

<div class="container pt-3">
    <h2 class="text-success">¡Compra realizada con éxito!</h2>
    <p>Gracias por tu compra. Hemos procesado tu pedido y será enviado pronto.</p>
    <a href="@Url.Action("Index", "Producto")" class="btn btn-primary">Volver a la tienda</a>
</div>
